<%- include( '../includes/head.ejs' ) %>
</head>

<body>
    <%- include( '../includes/navigation.ejs' ) %>
    <main>
        <% for( user of data ) { %>
            <div class="card text-center">
                <div class="card-header">
                  <%= user.firstName %> <%= user.secondName %>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= user.email %></h5>
                  <p class="card-text"><% if( user.admin === true ){ %> admin <% } else { %> user <%}%></p>
                  <div class="d-flex justify-content-center">
                    <form action="/admin/eidt" method="post">
                        <button class="btn btn-primary" type="submit">eidt</button>
                    </form>

                    <form action="/admin/delete" method="post">
                        <input type="hidden" value="<%= user.id %>" name="productId">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
              <br>
        <% } %>
    </main>
<%- include( '../includes/end.ejs') %>