<%- include( '../includes/head.ejs' ) %>
</head>

<body>
    <%- include( '../includes/navigation.ejs' ) %>
    <main>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

      <table id="myTable">
        <tr class="header">
          <th style="width:20%;">first name</th>
          <th style="width:20%;">second name</th>
          <th style="width:20%;">email</th>
          <th style="width:20%;">buttons</th>
        </tr>
        <% for( user of data ) { %>
          <tr>
            <td><%= user.firstName %> <%= user.secondName %></td>
            <td><%= user.email %></td>
            <td><% if( user.admin === true ){ %> admin <% } else { %> user <%}%></td>
            <td>
              <a class="btn btn-primary" href="/admin/edit/<%= user.id %>">edit</a>
              <form action="/admin/delete" method="post">
                <input type="hidden" value="<%= user.id %>" name="productId">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% } %>
      </table>
    </main>
    <style>
        #myInput {
          background-image: url('/css/searchicon.png'); /* Add a search icon to input */
          background-position: 10px 12px; /* Position the search icon */
          background-repeat: no-repeat; /* Do not repeat the icon image */
          width: 100%; /* Full-width */
          font-size: 16px; /* Increase font-size */
          padding: 12px 20px 12px 40px; /* Add some padding */
          border: 1px solid #ddd; /* Add a grey border */
          margin-bottom: 12px; /* Add some space below the input */
        }

        #myTable {
          border-collapse: collapse; /* Collapse borders */
          width: 100%; /* Full-width */
          border: 1px solid #ddd; /* Add a grey border */
          font-size: 18px; /* Increase font-size */
        }

        #myTable th, #myTable td {
          text-align: left; /* Left-align text */
          padding: 12px; /* Add padding */
        }

        #myTable tr {
          /* Add a bottom border to all table rows */
          border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
          /* Add a grey background color to the table header and on hover */
          background-color: #f1f1f1;
        }
  </style>
  <script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
<%- include( '../includes/end.ejs') %>